* {
    padding: 5px;
}

.divEjemplo {
    border: 2px solid green;
}

.cuadrado {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.error {
    color: red;
}

.inputErroneo {
    border: 3px solid red;
    color: black;
}

.inputCorrecto {
    border: 3px solid green;
    color: black;
}

.cuadroEjercicios {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}